RewriteEngine on
Options +FollowSymlinks -Indexes

SetEnv DEFAULT_CONFIG live

#Prevent Access to Hidden files
RewriteRule (^\.|/\.) - [F]

#un-coment when there's need to put on maintenance mode.
#RewriteRule ^(.*)$ maintenance.html [L]

#Rewrite all non-files to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]


<files ~ "\.tpl$">
	order deny,allow
	allow from none
	deny from all
</files>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/gif "access plus 5 months"
  ExpiresByType image/jpeg "access plus 5 months"
  ExpiresByType image/png "access plus 5 months"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType application/x-javascript "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 week"
  ExpiresByType image/x-icon "access plus 5 months"
</IfModule>
