html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  font-family: 'Nunito Sans', sans-serif;
  background: url("../img/concrete-wall.jpg"); 
}

.index header #logo a{
  pointer-events: none;
}

section{
  margin: 0;
}
.section-headings {
  text-align: center;
  margin-bottom: 60px;
}
.section-headings h3 {
    color: #303841;
    font-weight: 300;
    font-size: 28px;
}
.featured-merchants{
  background-color: rgba(251, 251, 251, 0.50);
  padding: 60px 0;
}
.merchant-logos{
 
}
.tp-bullets{
  left: 90%!important;
}
.merchant-logos img {
  height: 40px;
  width: auto;
}
img.grayscale {
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: all 0.8s ease;
}
img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #C62727;
  padding: 15px 0;
}
.footer-links li a {
    color: #f2f2f2;
    padding-right: 10px;
}
.footer-links li {
    display: inline-block;
}
.footer-links {
    list-style: none;
    margin-bottom: 0;
}
.copyright {
  color: #fff;
  text-align: right;
}
/** Center Bootstrap Modal ***/
.modal {
    text-align: center;
    padding: 0!important;
}
.modal-body{
    padding-bottom: 24px!important;
    padding-top: 0!important;
    height: 100%;
    width: 100%;
    display: table;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
/*** End Center ***/
.modal-header{
  border-bottom: 0;
}
.slick-track{
  margin: 0 auto;
}
.secure-slider .slick-slide img{
  width: 100%;
}
section#secure{
  padding: 10% 0;
}
.secure-slider .inner {
    position: relative;
}
.secure-slider .inner h2 {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    margin-top: 0;    
}

}
.headingline {
    margin:0 0 1em;
    line-height:2em;
    padding:0;
    color:#F00;
    text-shadow:1px 1px 1px #000;
    font-size:1.5em;
    position:relative;
    overflow:hidden;
    text-align:center;
}
.headingline:before,.headingline:after {
    content:" ";
    position:absolute;
    top:50%;
    height:2px;
    border-top:1px solid #333;
    background:rgba(0,0,0,0.2);
}
.headingline:before {
    margin-left: 0;
    right: 65%;
    width: 20%;
}
.headingline:after {
    margin-left: 0;
    left: 65%;
    width: 20%;
    margin:0 0 0 1em;
}
.headingline span {
    border: 1px solid #000;
    color: #c62727;
    border-radius: 50px;
    padding: 5px 35px;
    font-size: 22px;
    text-shadow: none;
    font-weight: bold;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  border-color: transparent;
}
.share-via li.email a {
    background: url(../img/mail-icon.png) no-repeat;
    background-size: cover;
    background-position: 0;
}

.share-via li.clpbrd a {
    background: url(../img/clpbrd.png) no-repeat;
    background-size: cover;
    background-position: 0;
}

.share-via li.skype a {
    background: url(../img/skype.png) no-repeat;
    background-size: cover;
    background-position: 0;
}

.share-via li.directmsg a {
    background: url(../img/twitter.png) no-repeat;
    background-size: cover;
    background-position: 0;
}

.share-via li.twitter a {
    background: url(../img/icon-twitter.png) no-repeat;
    background-size: cover;
    background-position: 0;
}

#validate_form {
    /*min-height: 328px;*/
}
#validate {
    padding: 10% 0;
}
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: none;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#secure_form_mobile{
  display: none;
}
section#about {
    padding: 4% 0;
}
section#faq {
    padding: 7% 0;
}
section#privacy {
    padding: 7% 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #c62727 !important;
}
.navbar-default .navbar-toggle {
    background: none !important;
    border-color: transparent!important;
}
div#slide-2938-layer-10 {
    font-size: 12px!important;
}
div#slide-2938-layer-9 {
    font-size: 14px!important;
}
@media (max-width: 992px) {
  .footer-links li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(242, 242, 242, 0.40);
  }
  .copyright {
    color: #fff;
    text-align: left;
    padding: 15px 0;
  }
}
@media (max-width: 550px) {
  #about h1,#faq h1,#privacy h1,#legal h1{display: none!important;}
  #about h1.divider{display: block!important;}
  #about,#privacy,#legal{padding: 20% 0!important;}
  #faq{padding-top:12%!important;}
  #faq ul li{padding-bottom: 2%;}
}
@media (max-width: 768px) {
  body{
    margin-bottom: 40%;
  }
  .copyright {
      color: #fff;
      text-align: left;
      padding: 10px 0;
  }
  .stepwizard {
    display: table;
    margin-bottom: 30px;
  }
  #secure_form{
    display: none;
  }
  #secure_form_mobile{
    display: block;
  }
  .setup-content {
    margin: 0!important;
    padding: 0!important;
  }
  .setup-content .col-xs-12, .setup-content .col-md-12 {
      padding: 0;
  }
  #validate_form{
    min-height: 0;
  }
  .footer-links li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(242, 242, 242, 0.40);
  }
  .headingline:before{
    right: 95%;
  }
  .headingline:after{
    left: 95%;
    margin: 0;
  }
}