<html lang="en">

<head>

    <meta content="IE=edge" http-equiv="X-UA-Compatible" />

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Invite request to support the hustle!</title>

</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0pt auto; padding: 0px; background:#F4F7FA;">

    <table id="main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F4F7FA">

        <tbody>

            <tr>

                <td valign="top">

                    <table class="innermain" cellpadding="0" width="580" cellspacing="0" border="0" bgcolor="#F4F7FA" align="center" style="margin:0 auto; table-layout: fixed;">

                        <tbody>

                            <!-- START of MAIL Content -->

                            <tr>

                                <td colspan="4">

                                    <!-- Logo start here -->

                                    <table class="logo" width="100%" cellpadding="0" cellspacing="0" border="0">

                                        <tbody>

                                            <tr>

                                                <td colspan="2" height="30"></td>

                                            </tr>

                                            <tr>

                                                <td valign="top" align="center">

                                                    <a href="https://www.coinbase.com" style="display:inline-block; cursor:pointer; text-align:center;">

                                                        <img src="https://s3.amazonaws.com/app-public/Coinbase-email/coinbase_logo_blue@2x.png" height="24" width="104" border="0" alt="Coinbase" />

                                                    </a>

                                                </td>

                                            </tr>

                                            <tr>

                                                <td colspan="2" height="30"></td>

                                            </tr>

                                        </tbody>

                                    </table>

                                    <!-- Logo end here -->

                                    <!-- Main CONTENT -->

                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);">

                                        <tbody>

                                            <tr>

                                                <td height="40"></td>

                                            </tr>

                                            <tr style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;">

                                                <td class="content" colspan="2" valign="top" align="center" style="padding-left:90px; padding-right:90px;">

                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">

                                                        <tbody>

                                                            <tr style="align-content: center;text-align:left;padding:0;">

                                                                <td align="center" style="line-height: 24px; font-weight: normal; font-style: normal; color: #70707a; padding: 0;">

                                                                    <img width="120px" alt="Image" src="user_avatar_url" height="120" border="0" style="border-radius: 100%; margin-bottom: 8px;" class="avatar" />

                                                                </td>

                                                            </tr>

                                                            <tr>

                                                                <td align="center" style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; font-stretch: normal; font-size: 16px; line-height: 24px; font-weight: normal; font-style: normal; color: #70707a; padding: 0;">

                                                                    <strong style="font-size: 14px; line-height: 1.43; color: #b22121;">user_full_name</strong><br />

                                                                    <small style="font-size: 12px; line-height: 1.67; text-align: center; color: #95959f;"></small>

                                                                </td>

                                                            </tr>

                                                            <tr>

                                                                <td height="30" &nbsp;=""></td>

                                                            </tr>

                                                            <tr>

                                                                <td align="center">

                                                                    <span style="color:#48545d;font-size:22px;line-height: 24px;">

                                                                        Seller sign up request

                                                                    </span>



                                                                </td>

                                                            </tr>

                                                            <tr>

                                                                <td height="24" &nbsp;=""></td>

                                                            </tr>

                                                            <tr>

                                                                <td height="1" bgcolor="#DAE1E9"></td>

                                                            </tr>

                                                            <tr>

                                                                <td height="24" &nbsp;=""></td>

                                                            </tr>

                                                            <tr>

                                                                <td align="center">

                                                                    <span style="color:#48545d;font-size:14px;line-height:24px;">

                                                                        Join the growing list of sellers securing payments for pay on delivery for their business.

                                                                    </span>



                                                                </td>

                                                            </tr>                                                          

                                                            <tr>

                                                                <td align="center">

                                                                    <a href="invite_url" style="font-family: Verdana, Arial, Tahoma;font-style: normal;border-radius: 100px;background: #b22121;text-decoration: none;color: #FFFFFF;display: block;width: 250px;height: 50px;line-height: 50px;font-size: 16px;font-weight: bold;margin-top: 30px;" target="_blank">Accept Invitation</a>

                                                                </td>

                                                            </tr>

                                                            <tr>

                                                                <td height="20" &nbsp;=""></td>

                                                            </tr>

                                                            <tr>

                                                                <td align="center">

                                                                    <img src="https://s3.amazonaws.com/app-public/Coinbase-notification/hr.png" width="54" height="2" border="0" />

                                                                </td>

                                                            </tr>

                                                            <tr>

                                                                <td height="20" &nbsp;=""></td>

                                                            </tr>

                                                            <tr>

                                                                <td align="center">

                                                                    <p style="color:#a2a2a2; font-size:12px; line-height:17px; font-style:italic;">

                                                                        You are reciving this request from a seller on streetzwyze who need's your support to boost collection capacity.

                                                                    </p>

                                                                </td>

                                                            </tr>

                                                        </tbody>

                                                    </table>

                                                </td>

                                            </tr>

                                            <tr>

                                                <td height="60"></td>

                                            </tr>

                                        </tbody>

                                    </table>                                   

                                    

                                    <table id="promo" width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top:20px;">

                                        <tbody>

                                            <tr>

                                                <td colspan="2" height="20"></td>

                                            </tr>

                                            <tr>

                                                <td colspan="2" align="center">

                                                    <span style="font-size:14px; font-weight:500; margin-bottom:10px; color:#7E8A98; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;"> More information on seller referral, <a href=" ">click here</a> </span>



                                                </td>

                                            </tr>

                                            <tr>

                                                <td colspan="2" height="20"></td>

                                            </tr>

                                            

                                        </tbody>

                                    </table>



                                    <!-- FOOTER start here -->

                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">

                                        <tbody>

                                            <tr>

                                                <td height="10">&nbsp;</td>

                                            </tr>

                                            <tr>

                                                <td valign="top" align="center">

                                                    <span style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color:#9EB0C9; font-size:10px;">

                                                        © <a href=" " target="_blank" style="color:#9EB0C9 !important; text-decoration:none;">Safeonline</a> 

                                                    </span>



                                                </td>

                                            </tr>

                                            <tr>

                                                <td height="50">&nbsp;</td>

                                            </tr>

                                        </tbody>

                                    </table>

                                    <!-- FOOTER end here -->

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </td>

            </tr>

        </tbody>

    </table>

</body>

</html>