<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
</head>

<body>
    <div style="font-size: 16.0px;background-color: rgb(253,253,253);margin: 0;padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;line-height: 1.5;min-height: 100.0%;width: 100.0%;">
        <table bgcolor="#FDFDFD" style="border-spacing: 0;width: 100.0%;background-color: rgb(253,253,253);border-collapse: separate;" width="100%">
            <tbody>
                <tr>
                    <td style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;" valign="top">&nbsp;</td>
                    <td style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;display: block;width: 600.0px;max-width: 600.0px;margin: 0 auto;" valign="top" width="600">
                        <div style="display: block;max-width: 600.0px;margin: 0 auto;padding: 10.0px;">
                            <div style="width: 100.0%;margin-top: 15.0px;">
                                <table style="width: 100.0%;border-spacing: 0;border-collapse: separate;" width="100%">
                                    <tbody></tbody>
                                </table>
                            </div>

                            <div style="width: 100.0%;margin-bottom: 30.0px;background: rgb(255,255,255);border: 1.0px solid rgb(240,240,240);">
                                <table style="width: 100.0%;border-spacing: 0;border-collapse: separate;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;padding: 30.0px;" valign="top">
                                                <table style="width: 100.0%;border-spacing: 0;border-collapse: separate;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;" valign="top">
                                                                <div style="">
                                                                    <h2 style="margin: 0;margin-bottom: 30.0px;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-weight: 300;line-height: 1.5;font-size: 24.0px;color: rgb(41,70,97);">Support Ticket</h2>

                                                                    <p style="margin: 0;margin-bottom: 30.0px;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;font-weight: 300;">Support message from: {0}</p>

                                                                    <p style="margin: 0;margin-bottom: 30.0px;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;font-weight: 300;">Seller email: {1}</p>
                                                                    
                                                                    <p style="margin: 0;margin-bottom: 30.0px;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;font-weight: 300;">Concern: {2}</p>

                                                                    <p style="margin: 0;margin-bottom: 10.0px;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;font-weight: 300;">Message:</p>

                                                                    <p style="margin: 0;margin-bottom: 30.0px;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;font-weight: 300;">{3}</p>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>