<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
</head>
<body>
    <div style="font-size: 16.0px;background-color: rgb(253,253,253);margin: 0;padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;line-height: 1.5;min-height: 100.0%;width: 100.0%;">
        <table bgcolor="#FDFDFD" style="border-spacing: 0;width: 100.0%;background-color: rgb(253,253,253);border-collapse: separate;" width="100%">
            <tbody>
                <tr>
                    <td style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;" valign="top">&nbsp;</td>
                    <td style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;display: block;width: 600.0px;max-width: 600.0px;margin: 0 auto;" valign="top" width="600">
                        <div style="display: block;max-width: 600.0px;margin: 0 auto;padding: 10.0px;">
                            <div style="width: 100.0%;margin-bottom: 30.0px;margin-top: 15.0px;">
                                <table style="width: 100.0%;border-spacing: 0;border-collapse: separate;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;text-align: left;" valign="top">
                                                <span><a href="https://streetzwyze.com" style="color: rgb(52,142,218);font-weight: 400;text-decoration: none;" target="_blank"><img alt="Streetzwyze" height="20" style="max-width: 100.0%;border-style: none;width: auto;height: 45.0px;" width="100" src="https://cashvaultng.com/assets/dmv/cash_vault.png"></a></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="width: 100.0%;margin-bottom: 30.0px;background: rgb(255,255,255);border: 1.0px solid rgb(240,240,240);">
                                <table style="width: 100.0%;border-spacing: 0;border-collapse: separate;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;padding: 30.0px;" valign="top">
                                                <table style="width: 100.0%;border-spacing: 0;border-collapse: separate;" width="100%">

                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 0;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;vertical-align: top;" valign="top">
                                                                <div style="">
                                                                    <h1 style="margin: 0;margin-bottom: 30.0px;font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-weight: 300;line-height: 1.5;font-size: 18.0px;color: rgb(41,70,97);">Hi {0},</h1>

                                                                    <p style="margin: 0;margin-bottom: 0.0px;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-size: 16.0px;font-weight: 300;">
                                                                        Thanks for getting in touch. <br> <br> Just letting you know we have received your inquiry and our support team will get back to you as soon as possible.<br>  
                                                                        <br>In the meantime, you are welcome to check out our <a style="color: #b22121;" href="https://streetzwyze.com/faqs.php" target="_blank">FAQs</a> your question may have already been answered there.



                                                                        <br> <br> Regards,<br>Support
                                                                    </p>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="clear: both;width: 100.0%;">
                                <table style="width: 100.0%;border-spacing: 0;font-size: 12.0px;border-collapse: separate;" width="100%">
                                    <tbody>
                                        <tr style="font-size: 12.0px;">
                                            <td align="center" style="font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;vertical-align: top;font-size: 12.0px;text-align: center;padding: 10.0px 0;" valign="top">
                                                <span style="float: none;display: block;text-align: center;">
                                                    <p style="margin: 0;color: rgb(41,70,97);font-family: 'Open Sans' , 'Helvetica Neue' , Helvetica , Helvetica , Arial , sans-serif;font-weight: 300;font-size: 12.0px;margin-bottom: 5.0px;">&copy; Safeonline Limited.</p>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>